{% extends 'base.html' %}

{% block content %}
    

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Interested in sharing hikes with others?</h2>
            <h5>Let's share hike data with others seamlessly, collaboritively, togetherly...</h5>
            <div>
                <button class="btn btn-secondary" id="header-button">Hike Togetherly</button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../../static/images/sign-post.svg" alt="Sign Post" class="header-image">
        </div>
    </header>

    <section class="row">
        <div class="col-12 col-md-9" id="center-text">
            <h2>Share your journey with all of us.  You won't regret it...</h2>
        </div>
        <div class="col-12 col-md-10">
            <img src="../../static/images/bw-tattler.jpg" alt="Hiking Photo" class="tattler-img">
        </div>

    </section>
</div>


{% endblock content %}